body{
   background-color: lightgrey;

}
.c1{
    color:aqua;
    background-color: black;
    border-style: ridge;
    border-color: white;
}
.c2{
    color:aqua;
    background-color: black;
    border-style: ridge;
    border-color: white;
}
.c3{
    color:aqua;
    background-color: black;
    border-style: ridge;
    border-color: white;

}
.c4{
    color:aqua;
    background-color: black;
    border-style: ridge;
    border-color: white;

}
.c5{
    color:aqua;
    background-color: black;
    border-style: ridge;
    border-color: white;

}
